.b-flex-layout__panel_id_1
{
    background: red;
}

.b-flex-layout__panel_id_2-1
{
    background: yellow;
}

.b-flex-layout__panel_id_2-2
{
    background: green;
}

.b-flex-layout__panel_id_2-3
{
    background: black;
}

.b-flex-layout__panel_id_3
{
    background: silver;
}