html,
body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.flex-layout__panel_id_1
{
    background: red;
}

.flex-layout__panel_id_2
{
    background: green;
}

.flex-layout__panel_id_2-1
{
    background: yellow;
}

.flex-layout__panel_id_2-2
{
    background: black;
}

.flex-layout__panel_id_2-2-1
{
    background: orange;
}

.flex-layout__panel_id_2-2-1
{
    background: white;
}