.flex-layout__resizer
{
    position: absolute;
    z-index: 2;

    overflow: hidden;
}

.flex-layout__resizer_orient_vert
{
    left: 0;
    top: 0;

    width: 100%;

    cursor: n-resize;
    cursor: row-resize;
}

.flex-layout__panel:first-child>.flex-layout__resizer_orient_vert
{
    top: 100%;
}

.flex-layout__resizer_orient_horiz
{
    left: 0;
    top: 0;

    height: 100%;

    cursor: e-resize;
    cursor: col-resize;
}

.flex-layout__panel:first-child>.flex-layout__resizer_orient_horiz
{
    left: 100%;
}

.flex-layout_mode_primary>.flex-layout__panel>.flex-layout__resizer
{
    visibility: hidden;
}

.flex-layout_animated_yes .flex-layout__resizer
{
    -webkit-transition: left .5s, top .5s;
    transition: left .5s, top .5s;
}