.flex-layout__pane
{
    position: absolute;
    z-index: 2;
}

.flex-layout__pane_primary_yes
{
    z-index: 1;
}

.flex-layout__pane_orient_vert
{
    left: 0;
    width: 100%;
}

.flex-layout__pane_orient_horiz
{
    top: 0;
    height: 100%;
}

.flex-layout_animated_yes .flex-layout__pane
{
    -webkit-transition: left .5s, width .5s, top .5s, height .5s;
    -moz-transition: left .5s, width .5s, top .5s, height .5s;
    -o-transition: left .5s, width .5s, top .5s, height .5s;
    transition: left .5s, width .5s, top .5s, height .5s;
}

.flex-layout__pane-content
{
    position: absolute;
    z-index: 1;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}
