.flex-layout_root_yes
{
    -webkit-transition: all .5s;
    transition: all .5s;

    -webkit-transform: scale(.8);
    transform: scale(.8);

    opacity: 0;
}

.flex-layout_root_yes.flex-layout_js_inited
{
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
}

.flex-layout__panel
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    background: #f5f5f5;
    border: 0 solid #c4c4c4;
}

.flex-layout_orient_vert>.flex-layout__panel
{
    border-top-width: 1px;
}

.flex-layout_orient_horiz>.flex-layout__panel
{
    border-left-width: 1px;
}

.flex-layout>.flex-layout__panel:first-of-type
{
    border: 0;
}

.flex-layout__splitter
{
    background: #ddd;
    border: 0 solid #b4b4b4;

    -webkit-transition: box-shadow .2s;
    transition: box-shadow .2s;
}

.flex-layout__splitter_active_yes
{
    box-shadow: 1px 0 2px rgba(255, 219, 79, .4), -1px 0 2px rgba(255, 219, 79, .4);
}

.flex-layout_orient_vert>.flex-layout__splitter
{
    height: 2px;

    margin-top: -2px;

    border-width: 1px 0;
}

.flex-layout_orient_horiz>.flex-layout__splitter
{
    width: 2px;

    margin-left: -2px;

    border-width: 0 1px;
}

/* custom backgrounds */

.flex-layout__panel_id_left
{
    background: #d8dde4;
}

.flex-layout__panel_id_center
{
    background: #fff;
}
