.flex-layout_root_yes
{
    -webkit-transition: all .5s;
    transition: all .5s;

    -webkit-transform: scale(.8);
    transform: scale(.8);

    opacity: 0;
}

.flex-layout_root_yes.flex-layout_js_inited
{
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
}

.flex-layout__panel
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    background: #f5f5f5;
    border: 0 solid #c4c4c4;
}

.flex-layout_orient_vert>.flex-layout__panel
{
    border-top-width: 1px;
}

.flex-layout_orient_horiz>.flex-layout__panel
{
    border-left-width: 1px;
}

.flex-layout_primary_full>.flex-layout__panel,
.flex-layout>.flex-layout__panel:first-of-type
{
    border: 0;
}

.flex-layout_orient_vert>.flex-layout__splitter
{
    height: 1px;

    margin-top: -2px;
    padding: 2px 0;
}

.flex-layout_orient_horiz>.flex-layout__splitter
{
    width: 1px;

    margin-left: -2px;
    padding: 0 2px;
}

.flex-layout__splitter-inner
{
    background-color: #b4b4b4;

    overflow: hidden;

    -webkit-transition: box-shadow .2s, background-color .2s;
    transition: box-shadow .2s, background-color .2s;
}

.flex-layout__splitter_active_yes .flex-layout__splitter-inner
{
    box-shadow: 1px 0 2px 1px rgba(255, 219, 79, .3), -1px 0 2px 1px rgba(255, 219, 79, .3);
}

.flex-layout__splitter:hover .flex-layout__splitter-inner,
.flex-layout__splitter_active_yes .flex-layout__splitter-inner
{
    background-color: #949494;
}

.flex-layout_orient_vert>.flex-layout__splitter .flex-layout__splitter-inner
{
    height: 1px;
}

.flex-layout_orient_horiz>.flex-layout__splitter .flex-layout__splitter-inner
{
    width: 1px;
    height: 100%;
}

/* custom backgrounds */

.flex-layout__panel_id_left
{
    background: #d8dde4;
}

.flex-layout__panel_id_center
{
    background: #fff;
}
