.flex-layout_theme_simple .flex-layout,
.flex-layout_theme_simple .flex-layout__panel-content
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    border: 0 solid #c4c4c4;
}

.flex-layout_theme_simple .flex-layout__panel-content
{
    background: #f5f5f5;
}

.flex-layout_theme_simple .flex-layout__panel_orient_vert>.flex-layout__panel-content,
.flex-layout_theme_simple .flex-layout__panel_orient_vert>.flex-layout
{
    border-top-width: 1px;
}

.flex-layout_theme_simple .flex-layout__panel_orient_horiz>.flex-layout__panel-content,
.flex-layout_theme_simple .flex-layout__panel_orient_horiz>.flex-layout
{
    border-left-width: 1px;
}

.flex-layout_theme_simple .flex-layout__panel:first-child>.flex-layout__panel-content,
.flex-layout_theme_simple .flex-layout__panel:first-child>.flex-layout
{
    border: 0;
}

.flex-layout_theme_simple .flex-layout__resizer_orient_vert
{
    height: 1px;

    margin-top: -2px;
    padding: 2px 0;
}

.flex-layout_theme_simple .flex-layout__resizer_orient_horiz
{
    width: 1px;

    margin-left: -2px;
    padding: 0 2px;
}

.flex-layout_theme_simple .flex-layout__panel_orient_horiz:first-child>.flex-layout__resizer
{
    margin-left: -2px;
}

.flex-layout_theme_simple .flex-layout__resizer-i
{
    background-color: #a4a4a4;

    overflow: hidden;

    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}

.flex-layout_theme_simple .flex-layout__resizer_active_yes .flex-layout__resizer-i
{
    box-shadow: 1px 0 2px 1px rgba(255, 219, 79, .3), -1px 0 2px 1px rgba(255, 219, 79, .3);
}

.flex-layout_theme_simple .flex-layout__resizer:hover .flex-layout__resizer-i,
.flex-layout_theme_simple .flex-layout__resizer_active_yes .flex-layout__resizer-i
{
    background-color: #747474;
}

.flex-layout_theme_simple .flex-layout__resizer_orient_vert .flex-layout__resizer-i
{
    height: 1px;
}

.flex-layout_theme_simple .flex-layout__resizer_orient_horiz .flex-layout__resizer-i
{
    width: 1px;
    height: 100%;
}

.flex-layout_theme_simple .flex-layout__collapser_orient_horiz
{
    width: 11px;
    height: 16px;

    margin-top: -8px;
}

.flex-layout_theme_simple .flex-layout__panel_orient_horiz:first-child>.flex-layout__collapser
{
    margin-left: -10px;
}

.flex-layout_theme_simple.flex-layout_mode_primary>.flex-layout__panel_orient_horiz>.flex-layout__collapser,
.flex-layout_theme_simple .flex-layout_mode_primary>.flex-layout__panel_orient_horiz>.flex-layout__collapser
{
    margin-left: -11px;
}

.flex-layout_theme_simple.flex-layout_mode_primary>.flex-layout__panel_orient_horiz:first-child>.flex-layout__collapser,
.flex-layout_theme_simple .flex-layout_mode_primary>.flex-layout__panel_orient_horiz:first-child>.flex-layout__collapser
{
    margin-left: -1px;
}

.flex-layout_theme_simple .flex-layout__collapser-i
{
    position: absolute;
    left: 3px;
    top: 3px;

    width: 0;
    height: 0;

    border-style: solid;
    border-color: transparent;
}

.flex-layout_theme_simple .flex-layout__collapser_orient_horiz .flex-layout__collapser-i,
.flex-layout_theme_simple.flex-layout_mode_primary>.flex-layout__panel:first-child>.flex-layout__collapser_orient_horiz .flex-layout__collapser-i,
.flex-layout_theme_simple .flex-layout_mode_primary>.flex-layout__panel:first-child>.flex-layout__collapser_orient_horiz .flex-layout__collapser-i
{
    border-width: 5px 0 5px 5px;
    border-left-color: #747474;
}

.flex-layout_theme_simple .flex-layout__panel:first-child>.flex-layout__collapser_orient_horiz .flex-layout__collapser-i,
.flex-layout_theme_simple.flex-layout_mode_primary>.flex-layout__panel>.flex-layout__collapser_orient_horiz .flex-layout__collapser-i,
.flex-layout_theme_simple .flex-layout_mode_primary>.flex-layout__panel>.flex-layout__collapser_orient_horiz .flex-layout__collapser-i
{
    border-width: 5px 5px 5px 0;
    border-left-color: transparent;
    border-right-color: #747474;
}

.flex-layout_theme_simple .flex-layout__collapser_orient_vert
{
    width: 16px;
    height: 11px;

    margin: -1px 0 0 -8px;
}

.flex-layout_theme_simple .flex-layout__panel:first-child>.flex-layout__collapser_orient_vert
{
    margin-top: -9px;
}

.flex-layout_theme_simple.flex-layout_mode_primary>.flex-layout__panel>.flex-layout__collapser_orient_vert,
.flex-layout_theme_simple .flex-layout_mode_primary>.flex-layout__panel>.flex-layout__collapser_orient_vert
{
    margin-top: -10px;
}

.flex-layout_theme_simple.flex-layout_mode_primary>.flex-layout__panel:first-child>.flex-layout__collapser_orient_vert,
.flex-layout_theme_simple .flex-layout_mode_primary>.flex-layout__panel:first-child>.flex-layout__collapser_orient_vert
{
    margin-top: -1px;
}

.flex-layout_theme_simple .flex-layout__panel>.flex-layout__collapser_orient_vert .flex-layout__collapser-i,
.flex-layout_theme_simple.flex-layout_mode_primary>.flex-layout__panel:first-child>.flex-layout__collapser_orient_vert .flex-layout__collapser-i,
.flex-layout_theme_simple .flex-layout_mode_primary>.flex-layout__panel:first-child>.flex-layout__collapser_orient_vert .flex-layout__collapser-i
{
    border-width: 5px 5px 0 5px;
    border-top-color: #747474;
}

.flex-layout_theme_simple .flex-layout__panel:first-child>.flex-layout__collapser_orient_vert .flex-layout__collapser-i,
.flex-layout_theme_simple.flex-layout_mode_primary>.flex-layout__panel>.flex-layout__collapser_orient_vert .flex-layout__collapser-i,
.flex-layout_theme_simple .flex-layout_mode_primary>.flex-layout__panel>.flex-layout__collapser_orient_vert .flex-layout__collapser-i
{
    border-width: 0 5px 5px 5px;
    border-top-color: transparent;
    border-bottom-color: #747474;
}