.flex-layout__splitter
{
    position: absolute;
    z-index: 2;

    overflow: hidden;
}

.flex-layout_orient_vert>.flex-layout__splitter
{
    left: 0;

    width: 100%;

    cursor: row-resize;
}

.flex-layout_orient_horiz>.flex-layout__splitter
{
    top: 0;

    height: 100%;

    cursor: col-resize;
}

.flex-layout_primary_full>.flex-layout__splitter
{
    display: none;
}