.flex-layout__collapser
{
    position: absolute;
    z-index: 3;

    cursor: pointer;
}

.flex-layout_orient_vert>.flex-layout__panel>.flex-layout__collapser
{
    left: 50%;
    top: 0;
}

.flex-layout_orient_vert>.flex-layout__panel:first-child>.flex-layout__collapser
{
    top: 100%;
}

.flex-layout_orient_horiz>.flex-layout__panel>.flex-layout__collapser
{
    left: 0;
    top: 50%;
}

.flex-layout_orient_horiz>.flex-layout__panel:first-child>.flex-layout__collapser
{
    left: 100%;
}

.flex-layout_animated_yes .flex-layout__collapser
{
    -webkit-transition: left .5s, top .5s;
    transition: left .5s, top .5s;
}