.flex-layout__panel
{
    position: absolute;
    z-index: 1;
}

.flex-layout_orient_vert>.flex-layout__panel
{
    left: 0;
    width: 100%;
}

.flex-layout_orient_horiz>.flex-layout__panel
{
    top: 0;
    height: 100%;
}

.flex-layout_animated_yes .flex-layout__panel
{
    -webkit-transition: left .5s, width .5s, top .5s, height .5s;
    transition: left .5s, width .5s, top .5s, height .5s;
}