.flex-layout__panel
{
    position: absolute;
    z-index: 2;
}

.flex-layout__panel_primary_yes
{
    z-index: 1;
}

.flex-layout__panel_orient_vert
{
    left: 0;
    width: 100%;
}

.flex-layout__panel_orient_horiz
{
    top: 0;
    height: 100%;
}

.flex-layout_animated_yes .flex-layout__panel
{
    -webkit-transition: left .5s, width .5s, top .5s, height .5s;
    transition: left .5s, width .5s, top .5s, height .5s;
}

.flex-layout__panel-content
{
    position: absolute;
    z-index: 1;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;
}
